body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Alfa Slab One', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFD784 !important;
  color: #574731 !important;
  height: 100vh;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.btn-primary{
  background-color: #92A514 !important;
  border-color: #92A514 !important;
  text-shadow: 1.5px 1.5px rgb(123, 139, 18);
  &:hover {
    background-color: rgb(123, 139, 18) !important;
  }
}

