.completed-node {
  svg {
    color: green !important
  }
}

.incompleted-node svg {
  color: black
}

.MuiPaper-root {
  background-color: transparent !important;
}

.MuiGrid-container {
  height: 100vh;
}

.party-info {
  background: #59301A;
  padding: 20px;
  color: #EFD784;
}

.quest-list {
  padding: 20px;
}