.completed-node {
  svg {
    color: green !important
  }
}

.incompleted-node svg {
  color: black;
}

.MuiPaper-root {
  background-color: transparent !important;
  padding: 10px 24px 50px 0 !important;
}

.MuiStepConnector-line {
  border-color: #59301A !important;
}

.hall-title {
  transition: transform 0.5s ease, text-shadow 0.5s ease;

  &:hover {
    transform: scale(1.01);
    text-shadow: 2px 2px rgb(175, 156, 87);
  }
}

.party-container {
  padding-top: 30px;
  text-align: center;

  img {
    max-width: 35%;
    display: block;
    margin: auto;
  }

  .party-code {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    background-color: #512A15;
    border: solid 2px #512A15;
    border-radius: 20px;
    padding: 9px;
    margin-bottom: 30px;
  }

  
  .party-member {
    margin-bottom: 15px;
  
    p {
      margin-bottom: 0;
    }
    .party-title {
      font-family: 'Lato', sans-serif;
    }
  
  }
}

.modal-code {
  background-color: #512A15;
  border: solid 2px #512A15;
  border-radius: 20px;
  padding: 9px;
  display: inline-block;
  text-align: center;
  margin: auto;
  color: #EFD784;
}

#create-modal {
  text-align: left;

  h6 {
    margin: 20px 0 0;
  }

  .MuiGrid-justify-xs-space-around {
    justify-content: flex-start;
  }
}