.hall-quest {

  .hall-border {
    padding-bottom: 35px;
    margin-bottom: 30px;
    border-bottom: solid 4px #59301A;
  }

  .hall-title {
    transition: transform 0.5s ease, text-shadow 0.5s ease;
  }

  &:hover .hall-title {
    transform: translate(3px, -3px);
    text-shadow: -2px 2px rgb(175, 156, 87);
  }
}

.party-container {
  padding-top: 30px;
  text-align: center;

  img {
    max-width: 35%;
    display: block;
    margin: auto;
  }

  .party-code {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    background-color: #512A15;
    border: solid 2px #512A15;
    border-radius: 20px;
    padding: 9px;
    margin-bottom: 30px;
  }

  
  .party-member {
    margin-bottom: 15px;
  
    p {
      margin-bottom: 0;
    }
    .party-title {
      font-family: 'Lato', sans-serif;
    }
  
  }
}

.modal-code {
  background-color: #512A15;
  border: solid 2px #512A15;
  border-radius: 20px;
  padding: 9px;
  display: inline-block;
  text-align: center;
  margin: auto;
  color: #EFD784;
}

.status {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;

  &-progress {
    color: #94552a;
    background-color: #512A15;
    border: solid 3px #94552a;
  }

  &-success {
    color: #92A514;
    background-color: #66730d;
    border: solid 3px #92A514;
  }

  &-failed {
    color: #DA2C38;
    background-color: #8c161e;
    border: solid 3px #DA2C38;
  }
}
