.post-container {
  background-color: #EFD784;
  border: 4px solid #59301A;
  border-radius: 15px;
  margin-bottom: 5px;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: #c3ae62;
  }
}

.post-detail {
  padding-top: 17px;

}

.delete-post {
  position: absolute;
  width: 100%;
  text-align: right;
  padding-right: 21px;
  padding-top: 5px;
}

.comment-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;

  p {
    margin-right: 5px;
  }
}

.quest-info {
  padding-top: 20px;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  img {
    max-width: 35%;
  }

  .quest-button {
    margin-top: 10px;
  }
}

.MuiGridList-root {
  height: 400px;
  margin-bottom: 10px !important;
  background-color: #D7A95F;
  padding: 5px !important;
  border: solid #59301A;

  .MuiGridListTile-root {
    height: auto !important;
  }
}

.quest-node-list {
  svg {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 10px;
    // color: #88773F;
  }
}

.node-desc {

  text-align: left;
  padding-left: 20px;
}

.finish-image {
  max-width: 60%;
}

