.page {
  height: 100vh;
  background-color: white;
}

.sign {
  width: 450px;
  margin: 20px auto;
  padding: 20px 30px 40px;
  border-radius: 20px !important;
  background-color: #EFD784 !important;

  img {
    display: block;
    margin: auto;
    max-width: 50%;
  }
}