.navbar {
  background-color: #74411E;
  color: #F4E39F !important;
}

.navbar-brand {
  color: #F4E39F !important;
}

.nav-link {
  color: #F4E39F !important;
}

span {
  font-family: 'Alfa Slab One', cursive;
}